/*** CSS Styles  ***/

/*_____________________GÉNÉRAL_______________________*/

body {
	background-color: #0f021b;
	width: 100vw;
	height: 100vh;
	overflow: hidden; /* éléments cachés en dehors */
	display: flex;
	align-items: center; /* aligne sur l'axe vertical */
	justify-content: center; /* aligne sur l'axe horizontal */
}

p {
	color: rgb(255, 255, 255);
	font-family: 'Nunito Sans', sans-serif;
}

/*_____________________GABARIT_______________________*/

.gabarit {
	position: relative; /* tous les éléments absolus dans le gabarit ne sortiront pas */
	width: 1300px;
	height: 750px;
	border-radius: 30px;
	border: solid;
	border-color: #7c7c84;
	border-width: 2px;
	background-image: url(../images/background-1.png);
	background-size: cover; /* l'image prend toute la place du cadre */
	padding: 20px;
}

/*______________________PAGE_PLAY____________________*/

.page-play {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

.img-logo-potiroja {
	width: 20%;
	animation: medicine 2s;
}

.logo-potiroja {
	display: flex;
	justify-content: center;
}

.button-play {
	opacity: 1;
	border: solid;
	background-color: rgba(255, 255, 255, 0.2);
	border-color: white;
	border-width: 1px;
	line-height: 20px;
	width: 120px;
	border-radius: 7px;
	margin-top: 30px;
}

.button-replay {
	display: none;
	border: solid;
	background-color: rgba(255, 255, 255, 0.2);
	border-color: white;
	border-width: 1px;
	line-height: 20px;
	width: 120px;
	border-radius: 7px;
	margin-top: 30px;
}

.button-play, .button-replay p{
	color: white;
	font-weight: bold;
	text-align: center;
}

/*______________________MENU_________________________*/

.menu {
	opacity: 0;
	display: flex;
	justify-content: space-between;
}

.mjolin-speak {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}

.little-mjolin {
	width: 79px;
	margin-right: 15px;
}

.img-little-mjolin {
	width: 100%;
}

.text {
	border: solid;
	background-color: rgba(255, 255, 255, 0.1);
	border-color: white;
	border-width: 0.5px;
	border-radius: 7px;
	opacity: 0;
	width: 400px;
	min-height: 99px;
	padding-left: 20px;
}

.img-picto-arrow {
	width: 7%;
	opacity: 0;
	margin-left: 15px;
	margin-bottom: 10px;
	display: none;
}

.inventory {
	position: absolute;
	right: 100px;
	border: solid;
	background-color: rgba(255, 255, 255, 0.2);
	border-color: white;
	border-width: 0.5px;
	border-radius: 7px;
	opacity: 1;
	width: 350px;
	min-height: 99px;
	padding-left: 20px;
}

.img-star-inventory {
	opacity: 0;
	width: 4.5%;
}

.img-firefly-inventory {
	opacity: 0;
	width: 4.5%;
}

#img-firefly-inventory-1 {
	margin-left: 15px;
}

.sound-button {
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 20px;
}

/*____________________PAGE_JEU____________________*/

.img-ship-mjolin {
	position: absolute;
	width: 20%;
	opacity: 0;
	bottom: 90px;
	left: 90px;
}

.img-mjolin-sad {
	position : absolute;
	width: 10%;
	opacity: 0;
	left: 350px;
	bottom: 100px;
}

.img-ship-glass {
	position: absolute;
	width: 20%;
	opacity: 0;
	bottom: 110px;
	right: 500px;
}

.img-kyubi-sick {
	position: absolute;
	width: 15%;
	opacity: 0;
	right: 100px;
	bottom: 80px;
}

.img-star-play {
	position: absolute;
	width: 3%;
	opacity: 0;
}

#img-star-play-1 {
	right: 150px;
	bottom: 200px;
}

#img-star-play-2 {
	right: 230px;
	bottom: 500px;
}

#img-star-play-3 {
	right: 380px;
	bottom: 420px;
}

#img-star-play-4 {
	right: 420px;
	bottom: 260px;
}

#img-star-play-5 {
	right: 530px;
	bottom: 550px;
}

#img-star-play-6 {
	right: 550px;
	bottom: 340px;
}

#img-star-play-7 {
	right: 700px;
	bottom: 460px;
}

#img-star-play-8 {
	right: 820px;
	bottom: 340px;
}

#img-star-play-9 {
	right: 970px;
	bottom: 480px;
}

.time-wrap {
	position: absolute;
	opacity: 0;
	width: 420px;
	height: 10px;
	background-color: #150c35;
	border-radius: 5px;
	border: solid;
	border-width: 0.5px;
	border-color: white;
	top: 150px;
	left: 115px;
}

.time-back {
	position: absolute;
	opacity: 0;
	width: 0px;
	height: 10px;
	background-color: #b9b9ea;
	border-radius: 5px;
	border: solid;
	border-width: 0.5px;
	border-color: white;
	top: 150px;
	left: 115px;
}

.img-firefly-play {
	position: absolute;
	width: 2%; 
	opacity: 0;
}

#img-firefly-play-1 {
	animation: wiggle-1 3s;
	animation-iteration-count: infinite;
	right: 500px;
	bottom: 480px;
}

#img-firefly-play-2 {
	animation: wiggle-2 3s;
	animation-iteration-count: infinite;
	right: 300px;
	bottom: 350px;
}

#img-firefly-play-3 {
	animation: wiggle-3 3s;
	animation-iteration-count: infinite;
	right: 250px;
	bottom: 530px;
}

.end-game_p {
	color: white;
	font-weight: bold;
	text-align: center;
	opacity: 0;
	transform: scale(2);
}

/*___________________TRANSITIONS_____________________*/

.text-delay {
	opacity: 1;
	transition-delay: 1s; 
	transition-duration: 1s;
}

.transition-appear {
	opacity: 1;
	transition-duration: 1s;
}

.transition-disappear {
	opacity: 0;
	transition-duration: 1s;
}

.transition-appear-picto-arrow {
	opacity: 0.5;
	transition-duration: 0.2s;
}

.transition-disappear-picto-arrow {
	opacity: 0;
	transition-duration: 0.2s;
}

.transition-time-back {
	width: 420px;
	transition: 15s;
	transition-timing-function: linear;
}

.transition-appear-time {
	opacity: 1;
}

.transition-disappear-time {
	opacity: 0;
}

/*______________________HOVER________________________*/

.button-play:hover {
	transform: scale(1.1);
	transition: 0.3s;
	cursor: pointer;
}

.button-replay:hover {
	transform: scale(1.1);
	transition: 0.3s;
	cursor: pointer;
}

.img-ship-mjolin:hover {
	cursor: pointer;
}

.sound-button:hover {
	transform: scale(1.1);
	transition: 0.2s;
	cursor: pointer;
}

.img-picto-arrow:hover {
	opacity: 1;
	cursor: pointer;
}

.img-star-play:hover {
	transform: scale(1.1);
	transition: 0.2s;
	cursor: pointer;
}

.img-firefly-play:hover {
	cursor: pointer;
}

.img-star-inventory:hover {
	cursor: pointer;
}

.img-firefly-inventory:hover {
	cursor: pointer;
}

.stop-clic {
	pointer-events: none;
}

.img-ship-glass:hover {
	cursor: pointer;
}

.img-kyubi-sick:hover {
	cursor: pointer;
}

/*__________________ANIMATIONS____________________*/

@keyframes wiggle-1 {
	0% { transform: translate(35px, 5px) rotate(0deg); }
	10% { transform: translate(-35px, -6px) rotate(-1deg); }
	20% { transform: translate(-37px, 4px) rotate(1deg); }
	30% { transform: translate(37px, 6px) rotate(0deg); }
	40% { transform: translate(34px, -4px) rotate(1deg); }
	50% { transform: translate(-35px, 6px) rotate(-1deg); }
	60% { transform: translate(-37px, 5px) rotate(0deg); }
	70% { transform: translate(37px, 5px) rotate(-1deg); }
	80% { transform: translate(-35px, -5px) rotate(1deg); }
	90% { transform: translate(35px, 6px) rotate(0deg); }
	100% { transform: translate(35px, -6px) rotate(-1deg); }
}

@keyframes wiggle-2 {
	0% { transform: translate(-33px, 5px) rotate(0deg); }
	10% { transform: translate(35px, -3px) rotate(-1deg); }
	20% { transform: translate(-32px, 2px) rotate(1deg); }
	30% { transform: translate(-34px, -6px) rotate(0deg); }
	40% { transform: translate(26px, 4px) rotate(1deg); }
	50% { transform: translate(-37px, -3px) rotate(-1deg); }
	60% { transform: translate(37px, 2px) rotate(0deg); }
	70% { transform: translate(-38px, 8px) rotate(-1deg); }
	80% { transform: translate(-38px, -8px) rotate(1deg); }
	90% { transform: translate(35px, 3px) rotate(0deg); }
	100% { transform: translate(-33px, -4px) rotate(-1deg); }
}

@keyframes wiggle-3 {
	0% { transform: translate(36px, 3px) rotate(0deg); }
	10% { transform: translate(-35px, -3px) rotate(-1deg); }
	20% { transform: translate(-34px, -4px) rotate(1deg); }
	30% { transform: translate(37px, 5px) rotate(0deg); }
	40% { transform: translate(-38px, 6px) rotate(1deg); }
	50% { transform: translate(-37px, 5px) rotate(-1deg); }
	60% { transform: translate(-37px, -5px) rotate(0deg); }
	70% { transform: translate(36px, 3px) rotate(-1deg); }
	80% { transform: translate(-35px, -7px) rotate(1deg); }
	90% { transform: translate(-38px, 2px) rotate(0deg); }
	100% { transform: translate(36px, -4px) rotate(-1deg); }
}

/*___________________________________________________*/
/*___________________________________________________*/